<%= content_for(:title) { "#{@user.username}'s page" } %>
<h1><%= @user.username  %></h1>

<% unless @user.stories.empty? %>
<div id="authored_stories" class="stories_list">
  <h2>authored adventures</h2>
  <% @user.stories.each do |story| %>
    <%= render story %>
  <% end %>
</div>
<% end %>

<% unless @user.games.finished.empty? %>
<div id="completed_stories" class="stories_list">
  <h2>completed adventures</h2>
  <% @user.games.finished.each do |game| %>
    <%= render game%>
  <% end %>
</div>
<% end %>

<% if @own_page && !@user.games.unfinished.empty? %>
<div id="saved_stories" class="stories_list">
  <h2>saved adventures</h2>
  <% @user.games.unfinished.each do |game| %>
    <%= render game %>
  <% end %>
</div>
<% end %>