<h1>Adventures</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Abstract</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr id="story_<%= story.id %>">
        <td><%= story.title %></td>
        <td><%= story.abstract %></td>
        <td><%= link_to 'Play Now', play_story_path(story) %></td>
        <td><%= link_to 'Show', story %> |
            <%= link_to 'Edit', edit_story_path(story) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Story', new_story_path %>
